footer.text-center
            .back
                .overlay
                    .container
                        h2 Contact Us
                        .row
                            .col-md-4
                                .foot-img.wow.bounceInLeft(data-wow-duration="2s" data-wow-offset="200" )
                                    img(src="imge/upwork.png" alt="up-work")
                                    .overlay
                                        a.btn.btn-lg.up(href="" type="button") Upwork
                            .col-md-4
                                .foot-img.wow.bounceInUp(data-wow-duration="2s" data-wow-offset="200" )
                                    img(src="imge/facebook.jpg" alt="facebook")
                                    .overlay
                                        a.btn.btn-lg.fac(href="" type="button") Facebook
                            .col-md-4
                                .foot-img.wow.bounceInRight(data-wow-duration="2s" data-wow-offset="200" )
                                    img(src="imge/youtube.jpg" alt="youtube")
                                    .overlay
                                        a.btn.btn-lg.you(href="" type="button") Youtube
                        h2 Links Site
                        .row
                            .col-md-4.col-sm-6
                                ul.list-unstyled.links
                                    li.wow.bounceIn(data-wow-duration="0.5s" data-wow-offset="100" data-wow-delay="0.5s" )
                                        a(href="index.html")
                                            i.fab.fa-angellist
                                            | Home
                                    li.wow.bounceIn(data-wow-duration="0.5s" data-wow-offset="100" data-wow-delay="1s" )
                                        a(href="myTeam.html")
                                            i.fab.fa-angellist
                                            | My Team
                                    li.wow.bounceIn(data-wow-duration="0.5s" data-wow-offset="100" data-wow-delay="1.5s" )
                                        a(href="myWork.html")
                                            i.fab.fa-angellist
                                            | My Work
                                    li.wow.bounceIn(data-wow-duration="0.5s" data-wow-offset="100" data-wow-delay="2s" )
                                        a(href="about.html")
                                            i.fab.fa-angellist
                                            | About Us
                            .col-md-4.col-sm-6
                                ul.list-unstyled.links
                                    li.wow.bounceIn(data-wow-duration="0.5s" data-wow-offset="100" data-wow-delay="2.5s" )
                                        a(href="")
                                            i.fab.fa-whatsapp
                                            | +20 01095015518
                                    li.wow.bounceIn(data-wow-duration="0.5s" data-wow-offset="100" data-wow-delay="3s" )
                                        a(href="")
                                            i.fab.fa-youtube
                                            | Youtube Channel
                                    li.wow.bounceIn(data-wow-duration="0.5s" data-wow-offset="100" data-wow-delay="3.5s" )
                                        a(href="")
                                            i.fab.fa-facebook
                                            | Facebook page
                                    li.wow.bounceIn(data-wow-duration="0.5s" data-wow-offset="100" data-wow-delay="4s" )
                                        a(href="")
                                            i.fab.fa-twitch
                                            | live Streaming
                            .col-md-4.col-sm-12
                                h4 Frontend
                                img.img-thumbnail.wow.bounceIn(data-wow-duration="0.5s" data-wow-offset="100" data-wow-delay="4.5s" src="imge/slide5.png" )
                    hr
                    .copy.wow.bounceIn(data-wow-duration="0.5s" data-wow-delay="5s" )
                        span  ©2020
                        | , Done by 
                        span Amar Yasser
                        | , owner of the Tokyo Code website : )