footer.text-center
            .back
                .overlay
                    .container
                        h2 Contact Us
                        .row
                            .col-md-4
                                .foot-img
                                    img(src="imge/upwork.png" alt="up-work")
                                    .overlay
                                        a.btn.btn-lg.up(href="" type="button") Upwork
                            .col-md-4
                                .foot-img
                                    img(src="imge/facebook.jpg" alt="facebook")
                                    .overlay
                                        a.btn.btn-lg.fac(href="" type="button") Facebook
                            .col-md-4
                                .foot-img
                                    img(src="imge/youtube.jpg" alt="youtube")
                                    .overlay
                                        a.btn.btn-lg.you(href="" type="button") Youtube
                        h2 Links Site
                        .row
                            .col-md-4.col-sm-6
                                ul.list-unstyled.links
                                    li
                                        a(href="index.html")
                                            i.fab.fa-angellist
                                            | Home
                                    li
                                        a(href="myTeam.html")
                                            i.fab.fa-angellist
                                            | My Team
                                    li
                                        a(href="myWork.html")
                                            i.fab.fa-angellist
                                            | My Work
                                    li
                                        a(href="about.html")
                                            i.fab.fa-angellist
                                            | About Us
                            .col-md-4.col-sm-6
                                ul.list-unstyled.links
                                    li
                                        a(href="")
                                            i.fab.fa-whatsapp
                                            | +20 01095015518
                                    li
                                        a(href="")
                                            i.fab.fa-youtube
                                            | Youtube Channel
                                    li
                                        a(href="")
                                            i.fab.fa-facebook
                                            | Facebook page
                                    li
                                        a(href="")
                                            i.fab.fa-twitch
                                            | live Streaming
                            .col-md-4.col-sm-12
                                h4 Frontend
                                img.img-thumbnail(src="imge/slide5.png")
                    hr
                    .copy
                        span  ©2020
                        | , Done by 
                        span Amar Yasser
                        | , owner of the Tokyo Code website : )