link(rel="preconnect" href="https://fonts.gstatic.com")
link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Cookie&family=Lato&family=Noto+Sans+JP&family=Open+Sans&family=Raleway:ital,wght@0,400;1,300&family=Ranchers&family=Roboto:ital,wght@0,300;0,400;1,300;1,900&display=swap" rel="stylesheet")
link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Abel&family=Marvel:wght@400;700&family=Ubuntu&display=swap" rel="stylesheet")
link(href="css/bootstrap.min.css" rel="stylesheet")
link(href="css/main.css" rel="stylesheet")