meta(name='msapplication-TileColor' content='#ffffff')
meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
meta(name='theme-color' content='#ffffff')
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")