link(rel='apple-touch-icon' sizes='57x57' href='../imge/favicon/apple-icon-57x57.png')
link(rel='apple-touch-icon' sizes='60x60' href='../imge/favicon/apple-icon-60x60.png')
link(rel='apple-touch-icon' sizes='72x72' href='../imge/favicon/apple-icon-72x72.png')
link(rel='apple-touch-icon' sizes='76x76' href='../imge/favicon/apple-icon-76x76.png')
link(rel='apple-touch-icon' sizes='114x114' href='../imge/favicon/apple-icon-114x114.png')
link(rel='apple-touch-icon' sizes='120x120' href='../imge/favicon/apple-icon-120x120.png')
link(rel='apple-touch-icon' sizes='144x144' href='../imge/favicon/apple-icon-144x144.png')
link(rel='apple-touch-icon' sizes='152x152' href='../imge/favicon/apple-icon-152x152.png')
link(rel='apple-touch-icon' sizes='180x180' href='../imge/favicon/apple-icon-180x180.png')
link(rel='icon' type='image/png' sizes='192x192' href='../imge/favicon/android-icon-192x192.png')
link(rel='icon' type='image/png' sizes='32x32' href='../imge/favicon/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='96x96' href='../imge/favicon/favicon-96x96.png')
link(rel='icon' type='image/png' sizes='16x16' href='../imge/favicon/favicon-16x16.png')
link(rel='manifest' href='../imge/favicon/manifest.json')
link(rel="preconnect" href="https://fonts.gstatic.com")
link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Cookie&family=Lato&family=Noto+Sans+JP&family=Open+Sans&family=Raleway:ital,wght@0,400;1,300&family=Ranchers&family=Roboto:ital,wght@0,300;0,400;1,300;1,900&display=swap" rel="stylesheet")
link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Abel&family=Marvel:wght@400;700&family=Ubuntu&display=swap" rel="stylesheet")
link(href="../css/bootstrap.min.css" rel="stylesheet")
link(href="../css/animate.css" rel="stylesheet")
link(href="../css/main.css" rel="stylesheet")