.sidebar
            .content-sidbar
                .img-box.text-center
                    h4
                        | Tokyo 
                        span Code
                    h4
                        | version: 
                        span @1.0.0
                //- Start Nav Sid Bar
                .side-nav
                    ul#navside.list-unstyled.icons
                        li.reload
                            i.fas.fa-redo
                        li
                            i.fab.fa-ethereum
                        li.toggle-fullscreen
                            i.fas.fa-compress-alt
                        li.active
                            a(href="../index.html")
                                i.fas.fa-home
                //- End Nav Sid Bar
                //- Start Links Sidebar
                .links-sidebar
                    ul.list-unstyled.links-ul-side
                        li
                            a.btn.btn-lg(href="../myWork.html" type="button") My Work
                        li
                            a.btn.btn-lg(href="../myTeam.html" type="button") My Team
                        li
                            a.btn.btn-lg(href="../about.html" type="button") About Us
                        li
                        li
                .side-button
                    a.btn.btn-lg.option-toggle.d-none.d-md-inline(href="#")
                        i.fas.fa-sliders-h
                        | Settings
                    a.btn.btn-lg(href="../logpage.html")
                        i.fas.fa-user-circle
                        | Sign In