// Start Coming Soon


.coming-soon {
    padding: 40px 0;

    .react {
        color: #fff;
        background-color: #01F2F6;
        box-shadow: 10px 10px 5px rgba($color: #eee, $alpha: 0.7) inset,
            -10px -10px 5px rgba($color: #eee, $alpha: 0.7) inset;



    }

    .php {
        color: #fff;
        background-color: #858EBB;
        box-shadow: 10px 10px 5px rgba($color: #eee, $alpha: 0.7) inset,
            -10px -10px 5px rgba($color: #eee, $alpha: 0.7) inset;



    }



    .data {
        color: #fff;
        background-color: #679FBB;
        box-shadow: 10px 10px 5px rgba($color: #eee, $alpha: 0.7) inset,
            -10px -10px 5px rgba($color: #eee, $alpha: 0.7) inset;

    }



    .vue {
        color: #fff;
        background-color: #00BB7C;
        box-shadow: 10px 10px 5px rgba($color: #eee, $alpha: 0.7) inset,
            -10px -10px 5px rgba($color: #eee, $alpha: 0.7) inset;

    }


    .laravel {
        color: #fff;
        background-color: #EB4D43;
        box-shadow: 10px 10px 5px rgba($color: #eee, $alpha: 0.7) inset,
            -10px -10px 5px rgba($color: #eee, $alpha: 0.7) inset;


    }



    .card {
        padding: 10px;
        margin-top: 40px;
        border-radius: 12px;
        transition: all 0.5s ease-in-out;







        i {
            padding: 20px;
            margin-top: 40px;
            font-size: 60px;

        }



        .card-body {
            padding: 20px;
            font-size: 20px;

            h3 {
                margin-bottom: 10px;
            }

        }

    }

    @media #{$maxMobile} {
        .card {

            i {
                padding: 15px;
                margin-top: 20px;
                font-size: 40px;

            }



            .card-body {

                font-size: 15px;



            }

        }



    }

}