* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  &.roboto {
    font-family: 'Roboto',
      sans-serif;
  }

  &.lato {
    font-family: 'Lato',
      sans-serif;
  }

  &.noto {
    font-family: 'Noto Sans JP',
      sans-serif;
  }

  &.raleway {
    font-family: 'Raleway',
      sans-serif;
  }

  &.open {
    font-family: 'Open Sans',
      sans-serif;
  }

  &.cookie {
    font-family: 'Cookie',
      cursive;

    h4 {
      font-size: 22px !important;
    }

    a {
      font-size: 20px !important;
    }
  }

  &.ranchers {
    font-family: 'Ranchers',
      cursive;
  }

  &.abel {
    font-family: 'Abel',
      sans-serif;
  }

  &.marvel {
    font-family: 'Marvel',
      sans-serif;
  }

  &.ubuntu {
    font-family: 'Ubuntu',
      sans-serif;
  }

}