header {
  position: relative;

  // start header

  .icon-header {
    top: 10px;
    left: 100px;
    position: fixed;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;


    &.no-sidebar {
      top: 4px;
      left: 0;
    }

    img {
      animation: shadows 1s infinite linear;
      -webkit-animation: shadows 1s infinite linear;
    }
  }








  .video-area {
    min-height: 100%;
    margin-top: 0;

    video {
      width: 100%;


    }

  }

  .video-dec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: #00000091;
    padding: 20px;
    border-radius: 20px;




    h1 {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      color: #fff;
      font-weight: bold;
    }

    span {
      color: $mainColor;
    }
  }






  @media #{$maxMobile} {

    .video-dec {




      h1 {
        font-size: 20px;

      }

      p {
        font-size: 13px;

      }


    }


  }


  @media #{$maxSmallMobile} {

    .video-dec {




      h1 {
        font-size: 18px;

      }




    }


  }


}