header {
  nav {
    padding-bottom: 11px !important;
    margin: 0;
    background-color: $mainDark !important;
    background-image: $imgColor !important;
    z-index: 999999999;

    .navbar-toggler {
      border: 1px solid #fff;

      span.icon {
        background-color: #fff;
        width: 20px;
        height: 2px;
        margin-bottom: 5px;
        display: block;

        &:first-child {
          margin-top: 5px;
        }
      }
    }

    .nav-item {
      padding-left: 10px;
      margin-top: 5px;

      .nav-link {
        padding: 10px 20px;
        color: #fff;
        margin-right: 20px;
        font-size: 15px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;

        i {
          margin-right: 15px;
          font-size: 20px;
        }

        &:hover {
          color: $mainDark;
          background-color: #fff;
          border-radius: 20px;
        }
      }
    }
  }

  .nav-icon {
    padding: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    top: 44px;
    position: fixed;
    right: 10px;
    background: rgba($color: $mainColor, $alpha:0.5);
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    animation: shadows 1s infinite linear;
    -webkit-animation: shadows 1s infinite linear;
    cursor: pointer;

    &:hover {
      color: $mainDark;
      background-color: #fff;
    }

    i {
      font-size: 25px;
    }
  }

  // start header

  .icon-header {
    top: 10px;
    left: 100px;
    position: fixed;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;


    &.no-sidebar {
      top: 4px;
      left: 0;
    }

    img {
      animation: shadows 1s infinite linear;
      -webkit-animation: shadows 1s infinite linear;
    }
  }

  .video-area {
    min-height: 100%;

    video {
      width: 100%;


    }

    .video-dec {
      position: absolute;
      top: 56%;
      left: 32%;

      &.no-sidebar {
        top: 60%;
        left: 24%;
      }
    }

    h1 {
      font-size: 40px;
      font-weight: bold;
      color: #fff;
    }

    p {
      font-size: 20px;
      color: #fff;
      font-weight: bold;
    }

    span {
      color: $mainColor;
    }
  }
}




// Start breadcrumb


.bread {
  height: 60px;

}