.option-box {

    position: fixed;
    top: 9%;
    right: 0;
    height: 100%;
    background-color: $mainDark;
    color: $mainColor;
    z-index: 999;
    width: 20%;
    display: none;




    .option {
        border-bottom: 1px solid $mainColor;
        padding: 20px;
        margin: 10px;

        ul {
            display: flex;
            justify-content: left;
            flex-wrap: wrap;
        }


        h4 {
            font-size: 15px;
            font-weight: normal;
        }
    }


    .option-background,
    .option-color {



        li {
            width: 20px;
            height: 20px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            margin-left: 10px;
            margin-top: 20px;
            opacity: 0.8;


            &:hover,
            &.active,
            &:active {

                border: 1px solid #fff;
                opacity: 1;
                border-radius: 10px;
            }

        }


    }


    .option-background {

        ul {

            li {

                &:first-child {
                    background-color: #000a1b;
                }

                &:nth-of-type(2) {
                    background-color: #006266
                }

                &:nth-of-type(3) {
                    background-color: #003a03
                }


                &:nth-of-type(4) {
                    background-color: #430d57
                }

                &:nth-of-type(5) {
                    background-color: #6F1E51
                }

                &:nth-of-type(6) {
                    background-color: #450920;
                }


                &:nth-of-type(7) {
                    background-color: #38040e
                }

                &:nth-of-type(8) {
                    background-color: #89023e;
                }

                &:nth-of-type(9) {
                    background-color: #2c1a1d;
                }

                &:nth-of-type(10) {
                    background-color: #303952;
                }

                &:nth-of-type(11) {
                    background-color: #00152b;
                }

            }




        }


    }








    .option-color {
        ul {

            li {

                &:first-child {
                    background-color: #00b7a4;
                }

                &:nth-of-type(2) {
                    background-color: #f0efeb
                }

                &:nth-of-type(3) {
                    background-color: #ffba08;
                }


                &:nth-of-type(4) {
                    background-color: #b795ef
                }

                &:nth-of-type(5) {
                    background-color: #FF00D4;
                }

                &:nth-of-type(6) {
                    background-color: #D980FA
                }

                &:nth-of-type(7) {
                    background-color: #44bd32
                }

                &:nth-of-type(8) {
                    background-color: #7f8fa6
                }



            }




        }
    }









}