doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Document
        include pug/components/link
    body
        include pug/layout/header
        
        

















        include pug/layout/footer
        include pug/components/script