-var pageTitle = 'My Work'

doctype html
html(lang="en")
    head
        include pug/layout/meta
        title #{pageTitle}
        include pug/layout/links
    body
    

        include pug/layout/sidbar
        include pug/layout/setting

        header
            //- ============================= Start Content Header=============================
            .icon-header
                img.rounded-circle.img-thumbnail(src="imge/logo.jpg" width="70px")
        //- ============================= End Header=============================
        //- ======================== Start Slider======================
        .slider-work
            img(src="imge/slide5.png")
        // End Sldier
        section.my-work.text-center
            .container
                .title
                    h2.h1.wow.flipInY(data-wow-duration="2s" data-wow-offset="200" )  Welcome In My Gallery 
                //- ============================Start Breadcrumb===============================
                nav.wow.slideInLeft(data-wow-duration="2s" data-wow-offset="200" aria-label="breadcrumb " ) 
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="index.html") Home
                        li.breadcrumb-item.active(aria-current="page") myWork
                //- ============================End Breadcrumb===============================
                .row
                    .col-md-4
                        .box-site.wow.rotateInDownLeft(data-wow-duration="2s" data-wow-offset="200" )
                            img(src="imge/sites/vikings/v1.jpg")
                            .overlay
                                a.btn(href="Template/vikings.html" type="button") View
                    .col-md-4
                        .box-site.wow.rotateInUpLeft(data-wow-duration="2s" data-wow-offset="200" )
                            img(src="imge/sites/anime/a1.jpg")
                            .overlay
                                a.btn(href="Template/composition.html" type="button") View
                    .col-md-4
                        .box-site.wow.rotateInDownRight(data-wow-duration="2s" data-wow-offset="200" )
                            img(src="imge/sites/neuon/n1.jpg")
                            .overlay
                                a.btn(href="Template/neuon.html" type="button") View
                    .col-md-4
                        .box-site.wow.rotateInDownLeft(data-wow-duration="2s" data-wow-offset="200" )
                            img(src="imge/sites/slic/s1.jpg")
                            .overlay
                                a.btn(href="Template/slice.html" type="button") View
        //- =========================== Start Advanced Footer ===============================
        include pug/components/scrolltop
        include pug/layout/footer
        include pug/layout/loading
        include pug/layout/script
