@keyframes shadows {
  from {
    box-shadow: 0 0 0 0px rgba(225, 225, 225, 0.7);
  }

  to {
    box-shadow: 0 0 0 20px rgba(237, 20, 61, 0);
  }
}



@keyframes movecomp {

  0% {
    transform: rotateZ(-45deg);
  }

  50% {
    transform: rotateZ(45deg);
  }

  75% {
    transform: rotateZ(-45deg);
  }

  100% {
    transform: rotateZ(45deg);
  }




}


@keyframes scrollTop {

  0%,
  75% {
    transform: translateY(-3px);

  }

  50% {
    transform: translateY(0px);

  }

  100% {
    transform: translateY(-8px);

  }
}