.slider-work {
    width: 100%;
    height: 100vh;




    img {
        width: 100%;
        height: 100%;
    }










}

.my-work {
    margin: 40px 0;

    h2 {
        width: 500px;
    }




    img {
        width: 100%;
        transition: all 0.5s ease-in-out;
    }


    .box-site {
        position: relative;
        margin-top: 30px;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);



        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all 0.5s ease-in-out;

        }


        a {
            color: #fff;
            background-color: $mainDark;
            border-color: #fff;
            transition: all 0.5s ease-in-out;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px 30px;
            font-size: 19px;

            &:hover {
                color: $mainDark;
                background-color: #fff;
                border-color: $mainDark;

            }
        }


        &:hover {

            transform: translateY(-15px);
            border-radius: 10px;


            .overlay {
                opacity: 1;
                z-index: 99;
            }

            img {
                transform: scale(1.1);
            }

            a {
                top: 50%;
            }
        }






    }
}