.slider-work {
    width: 100%;
    height: 100vh;




    img {
        width: 100%;
        height: 100%;
    }










}

.my-work {
    margin: 40px 0;

    h2 {
        width: 500px;
    }

    .card {
        margin-bottom: 20px;


        img {
            width: 100%;
        }

        .carousel-indicators {
            bottom: -10px;

            li {
                width: 15px;
                height: 15px;
                background-color: #000a1b;
                background-clip: padding-box;
                border-radius: 50%;
                border: 2px solid;
                border-color: #00bea9;
            }
        }





        .card-body {
            background-image: url('../imge/wolf.jpg');
            background-size: 100% 100%;
            height: 200px;
            position: relative;


            h5 {
                color: #fff;
                margin: 10px 0;

                i {
                    color: $mainColor;

                }

            }






            a {
                color: #fff;
                background-color: black;
                border-color: #fff;
                transition: all 0.5s ease-in-out;

                &:hover {
                    color: black;
                    background-color: #fff;
                    border-color: black;


                    i {
                        color: $mainDark;
                    }
                }

                i {
                    margin-right: 10px;
                    color: #fff;
                    font-size: 22px;



                }



            }

            .first-btn {
                position: absolute;
                bottom: 25px;
                left: 13px;

            }

            .two-btn {
                position: absolute;
                bottom: 25px;
                right: 13px;

            }

        }


    }



}