    .title {
        position: relative;
        text-align: center;

        h2 {
            font-weight: bold;
            color: $mainColor;
            margin: 40px auto;
            padding-bottom: 6px;
            background-color: $mainDark;
            width: 300px;
            font-size: 40px;
            border-radius: 15px;

            &::before {
                content: ' ';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $mainDark;
                top: 50%;
                left: 0%;
                z-index: -1;


            }
        }
    }






    @media #{$maxMobile} {

        .title {


            h2 {
                width: 265px;
                font-size: 25px;
                padding: 5px;


            }
        }
    }

    @media #{$maxSmallMobile} {

        .title {
            h2 {

                width: 250px;
                line-height: 1.5;
                padding: 9px;
                font-size: 20px;

            }
        }
    }